@charset 'utf-8';
@import 'common.2.0.less';



.f1-tab{
	.tab-btn{
		margin-bottom: 0.6rem;
		.on{
			background-color: #5259e9;
			color: #fff;
		}
		
	}
	.left{
		width: 23%;
		li{
			width: 100%;
			margin-bottom: 0.375rem;
		}
	}
	.right{
		width: 75%;
		overflow: hidden;
	}
}




